In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
from learntools.core import binder
binder.bind(globals())
from learntools.intro_to_programming.ex1 import *
print('Setup complete.')
print("Hello, world!")

In [ ]:
print(1 + 2)

In [ ]:
data = np.array([[1,4], [2,5], [3,6]])
df = pd.DataFrame(data,index=['row1', 'row2', 'row3'],
            columns=['col1', 'col2'])
df

In [ ]:
states = ['California', 'Texas', 'Florida', 'New York']
population =[39613493, 29730311, 21944577, 19299981]
dict_states = {'States':states, 'Population': population}
df_population = pd.DataFrame(dict_states)
df_population

In [ ]:

df_exams = pd.read_csv('/kaggle/input/studentperformance-csv/StudentsPerformance.csv')
df_exams.tail(10)

In [ ]:
df_exams.shape

In [ ]:
pd.set_option('display.max_rows', 1000 )#display n rows
df_exams

In [ ]:
import pandas as pd
import numpy as np
df_exams = pd.read_csv('/kaggle/input/studentperformance-csv/StudentsPerformance.csv')
language_score = np.arange(0,1000)
len(language_score)
df_exams['language score'] = language_score
df_exams

Add new column to a dataframe

In [ ]:
int_language_score = np.random.randint(1, 100, size = 1000)
min(int_language_score)
max(int_language_score)

In [ ]:
df_exams['language score'] = int_language_score
df_exams

In [ ]:
np.random.uniform(1, 100, size=100)

create random int between range 1 to 100

In [ ]:
import numpy as np
import pandas as pd
df_exams = pd.read_csv('/kaggle/input/studentperformance-csv/StudentsPerformance.csv')
score1 = np.random.randint(1, 100, size=1000)
score2 = np.random.randint(1, 100, size=1000)
series1 = pd.Series(score1, index = np.arange(0, 1000))
series2 = pd.Series(score2, index = np.arange(0, 1000))
df_exams = df_exams.assign(score1=series1, score2 = series2)
df_exams

In [ ]:

df_exams

In [ ]:
df_exams['math score'].sum()

In [ ]:
df_exams['math score'].min()

In [ ]:
df_exams['math score'].max()

In [ ]:
df_exams['math score'].std()

In [ ]:
df_exams['math score'].mean()

In [ ]:
df_exams['math score'].count()

In [ ]:
df_exams.describe()

calculate the sum in a row , adding sum in each row

In [ ]:
df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']

In [ ]:
df_exams['average'] = (df_exams['math score'] + df_exams['reading score'] + df_exams['writing score'])/3
df_exams.round(2)

calculating the average score and assgining the result to a new column

In [ ]:
len(df_exams['gender'])

In [ ]:
df_exams['gender'].count() #same output as the abv method

In [ ]:
df_exams['gender'].value_counts() #counting gender elements by category

In [ ]:
import numpy as np 
import pandas as pd
df_corgis = pd.read_csv('https://corgis-edu.github.io/corgis/datasets/csv/video_games/video_games.csv')

In [ ]:
import pandas as pd 
import numpy as np
df_games = pd.read_csv('/kaggle/input/video-games/video_games.csv')
df_games
df_games['Metadata.Genres'] == "Action"

Filtering Data based on cons.

Value counts: counting gender elements, len function, count()method

Read a .csv from URL with Pandas

In [ ]:
import pandas as pd 
import numpy as np
df_games = pd.read_csv('/kaggle/input/video-games/video_games.csv')
df_games

In [ ]:
df_games[df_games['Metadata.Genres'] == "Action"]

In [ ]:
df_games[df_games['Metadata.Publishers'] != "Ubisoft"].value_counts('Metadata.Publishers')

verify which companies are in "series A" col. with value_counts()

In [ ]:
df_games[df_games['Metrics.Review Score']>85]

Find games with metric review score over 85

In [ ]:
import numpy as np
import pandas as pd
df_games = pd.read_csv('/kaggle/input/video-games/video_games.csv')
df_games.head(3)

In [ ]:
np.where(df_games['Metrics.Review Score'] > 85, 'High', 'Low')

create column() based on cons.

In [ ]:
df_games['Review_score'] = np.where(df_games['Metrics.Review Score'] > 85, 'High', 'Low')

In [ ]:
import numpy as np
import pandas as pd
df_games = pd.read_csv('/kaggle/input/video-games/video_games.csv')
df_games[(df_games['Metadata.Publishers'] == "Ubisoft")  | (df_games['Metrics.Review Score']>85)].value_counts('Metadata.Publishers')

In [ ]:
df_games.head()

In [ ]:
df_games.value_counts('Review_score')

In [ ]:
import numpy as np
import pandas as pd
df_games = pd.read_csv('/kaggle/input/video-games/video_games.csv')
((df_games['Metadata.Publishers'] == "Ubisoft") | (df_games['Metadata.Publishers'] == "Konami")) & (df_games['Metrics.Review Score']>85)
df_games[((df_games['Metadata.Publishers'] == 'Ubisoft') | (df_games['Metadata.Publishers'] == 'Nintendo')) & (df_games['Metrics.Review Score']>85)]

In [ ]:
import numpy as np
import pandas as pd
df_games = pd.read_csv('/kaggle/input/steam-games-dataset/games_march2025_full.csv')
conditions = [
    df_games['price']>1000,
     (df_games['price']>500) & (df_games['price']<=1000),
     (df_games['price']>250) & (df_games['price']<=500),
    (df_games['price']>100) & (df_games['price']<=250),
    df_games['price']<=50
]

values = ['Too expensive', 'Expensive', 'Affordable', 'Cheap','Very cheap']
df_games['Price_tiers'] = np.select(conditions, values)
df_games

In [ ]:
df_games['Price_tiers'].value_counts()

Filter dataframe based on 2 or more cons.

isin():Single filtering

In [ ]:
import numpy as np
import pandas as pd
df_languages = pd.read_csv('/kaggle/input/studentperformance-csv/StudentsPerformance.csv')
df_languages['parental level of education'].isin(['some college	','high school'])
df_languages[df_languages['parental level of education'].isin(['some college','high school'])].value_counts('parental level of education')

In [ ]:
filter1 = df_languages['race/ethnicity'].isin(['group B', 'group C'])
filter2 = df_languages['parental level of education'].isin(['some college','high school'])
filter1 | filter2

In [ ]:
df_languages[filter1 & filter2].value_counts('race/ethnicity')

Multiple filtering

In [ ]:
import numpy as np
import pandas as pd
df_languages = pd.read_csv('/kaggle/input/studentperformance-csv/StudentsPerformance.csv')
df_languages.duplicated('race/ethnicity')

In [ ]:
df_languages[df_languages.duplicated('writing score')]
#show elements in dataframe with duplicates in column 'race/ethnicity'

In [ ]:
df_languages = df_languages.sort_values(['math score', 'writing score'])
df_languages

In [ ]:
df_languages.value_counts('parental level of education')

In [ ]:
import numpy as np
import pandas as pd
df_languages = pd.read_csv('/kaggle/input/studentperformance-csv/StudentsPerformance.csv')
duplicated_first = df_languages.duplicated('parental level of education', keep='first')
df_languages[duplicated_first]

In [ ]:
df_languages[~duplicated_first][['gender', 'math score']]

In [ ]:
df_languages[~duplicated_first].value_counts('math score')

In [ ]:
duplicated_last = df_languages.duplicated('math score', keep='last')
df_languages[~duplicated_last][['writing score', 'reading score']]

In [ ]:
df_languages = df_languages.sort_values(['writing score', 'reading score'])
df_languages

In [ ]:
df_languages.drop_duplicates(['writing score'], keep='last') [['writing score', 'reading score']]

duplicated(): 1 col/series

In [ ]:
df_languages.drop_duplicates(['writing score'], keep='last', inplace=True, ignore_index=True)
df_languages[['writing score', 'reading score']]

**Exercise** 
sort dataframe ascending by company and inches
smallest first and biggest last

In [ ]:
import numpy as np
import pandas as pd
df_languages = pd.read_csv('/kaggle/input/studentperformance-csv/StudentsPerformance.csv')
df_languages = df_languages.sort_values(['writing score', 'reading score'])
df_languages

In [ ]:
df_languages.drop_duplicates(['writing score'], keep='first') [['writing score', 'reading score']]

In [ ]:
import numpy as np
import pandas as pd
df_languages = pd.read_csv('/kaggle/input/studentperformance-csv/StudentsPerformance.csv')
df_languages.drop_duplicates(['writing score'], keep='last') [['writing score', 'reading score']]

unique values of series object: unique() ; nunique()

**what is the use of unique()**

*unique() function in Pandas is used to extract and return the distinct (unique) values present in a Pandas Series*

import pandas as pd

data = {'City': ['New York', 'London', 'New York', 'Paris', 'London', 'Tokyo']}
df = pd.DataFrame(data)

unique_cities = df['City'].unique()
print(unique_cities)

**his code would output ['New York' 'London' 'Paris' 'Tokyo'], showing the distinct cities in the 'City' column.**

In [ ]:
import numpy as np
import pandas as pd
df_behaviour = pd.read_csv('/kaggle/input/extrovert-vs-introvert-behavior-data/personality_datasert.csv')
df_behaviour.head(10)

In [ ]:
df_behaviour['Personality'].unique()

In [ ]:
df_behaviour['Time_spent_Alone'].unique()

In [ ]:
len(df_behaviour['Time_spent_Alone'].unique())

nunique() : number of unique

In [ ]:
#get number of unqiue elements in tje "Compnay' column"
df_behaviour['Friends_circle_size'].nunique()

loc() ;  = label-based , specify rows and columns based on their **index** 
iloc() : integer position-based, sp we have to specify rows and columns by their **integer** position values

**Value**
for example: df.loc['zero'] for loc (label)
             df.iloc[0] for iloc (position)

**List**
for example: df.loc[['zero','two]] for loc 
             df.iloc[[0,2]] for iloc 

**Slicing**
for example: df.loc['zero':'two] for loc > 0-2
             df.iloc[0:2] for iloc > 0-1 ( 2 is excluded )

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/video-games/video_games.csv')
df

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/video-games/video_games.csv')
df.set_index('Metadata.Genres', inplace=True)

In [ ]:
df

In [ ]:
#select columns
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/video-games/video_games.csv')
df = df[['Title', 'Features.Handheld?', 'Features.Max Players', 'Features.Multiplatform?', 'Features.Online?', 'Metadata.Licensed?', 'Metadata.Publishers', 'Metadata.Sequel?', 'Metrics.Review Score', 'Metrics.Sales']]

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/video-games/video_games.csv')
df

,Title,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?,Metadata.Publishers,Metadata.Sequel?,Metrics.Review Score,...,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Polled,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median,Length.Main Story.Polled,Length.Main Story.Rushed
0,Super Mario 64 DS,True,1,True,True,Action,True,Nintendo,True,85,...,24.916667,29.966667,25.000000,16,18.333333,14.333333,18.316667,14.500000,21,9.700000
1,Lumines: Puzzle Fusion,True,1,True,True,Strategy,True,Ubisoft,True,89,...,9.750000,9.866667,9.750000,2,9.616667,10.333333,11.083333,10.000000,3,9.583333
2,WarioWare Touched!,True,2,True,True,"Action,Racing / Driving,Sports",True,Nintendo,True,81,...,3.850000,5.666667,3.333333,11,2.783333,1.916667,2.933333,1.833333,30,1.433333
3,Hot Shots Golf: Open Tee,True,1,True,True,Sports,True,Sony,True,81,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
4,Spider-Man 2,True,1,True,True,Action,True,Activision,True,61,...,12.766667,17.316667,12.500000,12,10.483333,8.350000,11.083333,8.000000,23,5.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,Secret Files: Tunguska,True,1,True,True,Adventure,True,NaN,True,71,...,11.500000,11.750000,11.500000,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1208,Fading Shadows,True,1,True,True,"Action,Adventure",True,NaN,True,62,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1209,Hail to the Chimp,True,1,True,True,"Action,Strategy",True,NaN,True,51,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1210,Secret Files: Tunguska,True,2,True,True,Adventure,True,NaN,True,64,...,11.500000,11.750000,11.500000,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1211,Chicken Hunter,True,1,True,True,Action,True,NaN,True,39,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000

In [7]:
df.iloc[0, 3]

True

In [8]:
df.iloc[:, 3] #get all rows inside the 'row'

0       True
1       True
2       True
3       True
4       True
        ...
1207    True
1208    True
1209    True
1210    True
1211    True
Name: Features.Multiplatform?, Length: 1212, dtype: bool

selecting with a single value using iloc()

Selecting with a single value 
loc[row_label,column_label]

In [9]:
#get all data about[Lumines: Puzzle Fusion, Metadata.Genres	 ]
df.iloc[1, 5]

'Strategy'

In [10]:
df.iloc[[1, 2], 5] #To get Lumine and WarioWare metaGenre

1                          Strategy
2    Action,Racing / Driving,Sports
Name: Metadata.Genres, dtype: object

In [12]:
df.iloc[1, [2, 5]] #Lumine metagenre and feature.maxPlayer

Features.Max Players           1
Metadata.Genres         Strategy
Name: 1, dtype: object

In [13]:
df

,Title,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?,Metadata.Publishers,Metadata.Sequel?,Metrics.Review Score,...,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Polled,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median,Length.Main Story.Polled,Length.Main Story.Rushed
0,Super Mario 64 DS,True,1,True,True,Action,True,Nintendo,True,85,...,24.916667,29.966667,25.000000,16,18.333333,14.333333,18.316667,14.500000,21,9.700000
1,Lumines: Puzzle Fusion,True,1,True,True,Strategy,True,Ubisoft,True,89,...,9.750000,9.866667,9.750000,2,9.616667,10.333333,11.083333,10.000000,3,9.583333
2,WarioWare Touched!,True,2,True,True,"Action,Racing / Driving,Sports",True,Nintendo,True,81,...,3.850000,5.666667,3.333333,11,2.783333,1.916667,2.933333,1.833333,30,1.433333
3,Hot Shots Golf: Open Tee,True,1,True,True,Sports,True,Sony,True,81,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
4,Spider-Man 2,True,1,True,True,Action,True,Activision,True,61,...,12.766667,17.316667,12.500000,12,10.483333,8.350000,11.083333,8.000000,23,5.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,Secret Files: Tunguska,True,1,True,True,Adventure,True,NaN,True,71,...,11.500000,11.750000,11.500000,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1208,Fading Shadows,True,1,True,True,"Action,Adventure",True,NaN,True,62,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1209,Hail to the Chimp,True,1,True,True,"Action,Strategy",True,NaN,True,51,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1210,Secret Files: Tunguska,True,2,True,True,Adventure,True,NaN,True,64,...,11.500000,11.750000,11.500000,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1211,Chicken Hunter,True,1,True,True,Action,True,NaN,True,39,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000

In [15]:
#Selecting a range of data with a slice
games=[0, 1] #Supermario and Lumine
df.iloc[games, 1:6+1]

,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?
0,True,1,True,True,Action,True
1,True,1,True,True,Strategy,True

In [17]:
#slice index labels ( x to y numbers)
#columns = [Title	Features.Handheld?	Features.Max Players	Features.Multiplatform?	]
columns = [1,2,3,4]
df.iloc[0:11, columns]

,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?
0,True,1,True,True
1,True,1,True,True
2,True,2,True,True
3,True,1,True,True
4,True,1,True,True
5,True,1,True,True
6,True,1,True,True
7,True,1,True,True
8,True,1,True,True
9,True,1,True,True
10,True,1,True,True

In [20]:
columns = [1,2,3,4] 
df.iloc[list(df['Metrics.Review Score']>50), columns]

,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?
0,True,1,True,True
1,True,1,True,True
2,True,2,True,True
3,True,1,True,True
4,True,1,True,True
...,...,...,...,...
1206,True,1,True,True
1207,True,1,True,True
1208,True,1,True,True
1209,True,1,True,True
1210,True,2,True,True

selecting with conditions 
**iloc cannot accept boolean Series, but a boolean list**

In [16]:
#update column
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/videogamesales/vgsales.csv')
df.set_index('Rank', inplace=True)
df = df[['Name', 'Platform', 'Publisher']]
df

                                                   Name Platform   Publisher
Rank
1                                            Wii Sports      Wii    Nintendo
2                                     Super Mario Bros.      NES    Nintendo
3                                        Mario Kart Wii      Wii    Nintendo
4                                     Wii Sports Resort      Wii    Nintendo
5                              Pokemon Red/Pokemon Blue       GB    Nintendo
...                                                 ...      ...         ...
16596                Woody Woodpecker in Crazy Castle 5      GBA       Kemco
16597                     Men in Black II: Alien Escape       GC  Infogrames
16598  SCORE International Baja 1000: The Official Game      PS2  Activision
16599                                        Know How 2       DS    7G//AMES
16600                                  Spirits & Spells      GBA     Wanadoo

[16598 rows x 3 columns]

In [18]:
df.loc['Super Mario Bros.', 'Rank'] = 1

In [19]:
df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Name,Platform,Publisher,Rank
Rank,,,,
1,Wii Sports,Wii,Nintendo,NaN
2,Super Mario Bros.,NES,Nintendo,NaN
3,Mario Kart Wii,Wii,Nintendo,NaN
4,Wii Sports Resort,Wii,Nintendo,NaN
5,Pokemon Red/Pokemon Blue,GB,Nintendo,NaN
...,...,...,...,...
16597,Men in Black II: Alien Escape,GC,Infogrames,NaN
16598,SCORE International Baja 1000: The Official Game,PS2,Activision,NaN
16599,Know How 2,DS,7G//AMES,NaN
16600,Spirits & Spells,GBA,Wanadoo,NaN
Super Mario Bros.,NaN,NaN,NaN,1.0

set value to entire row

In [24]:
df.iloc[5,:]

Name           Tetris
Platform           GB
Publisher    Nintendo
Rank              NaN
Name: 6, dtype: object

In [28]:
df.iloc[5, :] = np.nan #set null vlaues to all cloumns that corresponds to player ranked last

In [30]:
df.iloc[5, :]

Name         NaN
Platform     NaN
Publisher    NaN
Rank         NaN
Name: 6, dtype: object

In [39]:
#set value for all items matching the list of labels
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/videogamesales/vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/videogamesales/vgsales.csv')
df.set_index('Name', inplace=True)
df.loc[['Know How 2', 'Spirits & Spells'], ['Publisher']]

In [41]:
df.set_index('Name', inplace=True)
df.loc[['Know How 2', 'Spirits & Spells'], ['Publisher']]

                 Publisher
Name
Know How 2        7G//AMES
Spirits & Spells   Wanadoo
Spirits & Spells   Wanadoo

In [43]:
df.loc[['Know How 2', 'Spirits & Spells'], ['Other_Sales']] = 0
df

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [51]:
#set value for rows matching a condition
columns = ['Platform', 'Genre', 'Publisher', 'NA_Sales']
df.loc[df['NA_Sales'] > 10, columns] = 0
df

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,0,2006.0,0,0,0.00,29.02,3.77,8.46,0.00
Super Mario Bros.,2,0,1985.0,0,0,0.00,3.58,6.81,0.77,40.24
Mario Kart Wii,3,0,2008.0,0,0,0.00,12.88,3.79,3.31,35.82
Wii Sports Resort,4,0,2009.0,0,0,0.00,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,0,1996.0,0,0,0.00,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

drop row : removing row

have 2 methods: index parameter , drop method

In [55]:
df.drop('Platform', axis=1) #0 represnet row ; 1 represent cols.

,Rank,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,
Wii Sports,1,2006.0,0,0,0.00,29.02,3.77,8.46,0.00
Super Mario Bros.,2,1985.0,0,0,0.00,3.58,6.81,0.77,40.24
Mario Kart Wii,3,2008.0,0,0,0.00,12.88,3.79,3.31,35.82
Wii Sports Resort,4,2009.0,0,0,0.00,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,1996.0,0,0,0.00,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [56]:
df.drop(index=['Wii Sports'])

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Super Mario Bros.,2,0,1985.0,0,0,0.00,3.58,6.81,0.77,40.24
Mario Kart Wii,3,0,2008.0,0,0,0.00,12.88,3.79,3.31,35.82
Wii Sports Resort,4,0,2009.0,0,0,0.00,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,0,1996.0,0,0,0.00,8.89,10.22,1.00,31.37
Tetris,6,0,1989.0,0,0,0.00,2.26,4.22,0.58,30.26
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [58]:
#removing more than one rows
df.drop(['Woody Woodpecker in Crazy Castle 5', 'Men in Black II: Alien Escape'], axis = 0, inplace = True)
df

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,0,2006.0,0,0,0.00,29.02,3.77,8.46,0.00
Super Mario Bros.,2,0,1985.0,0,0,0.00,3.58,6.81,0.77,40.24
Mario Kart Wii,3,0,2008.0,0,0,0.00,12.88,3.79,3.31,35.82
Wii Sports Resort,4,0,2009.0,0,0,0.00,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,0,1996.0,0,0,0.00,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Myst IV: Revelation,16594,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.00,0.01
Plushees,16595,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

**inplace means update**

In [1]:
#create your own function and apply it to a dataframe
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/d/chinshier/bmi-dataset/500_Person_Gender_Height_Weight_Index.csv')
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

apply()

**Applying to DataFrame: When used on a Pandas DataFrame, apply() can operate on columns (default, axis=0) or rows (axis=1).**

In [2]:
def calculate_bmi(row):
    return row['Weight']/(row['Height']/100)**2
df.apply(calculate_bmi, axis = 1)

0      31.708284
1      24.355421
2      32.140248
3      27.350427
4      27.476240
         ...
495    68.000000
496    35.739603
497    68.407022
498    42.222222
499    43.770256
Length: 500, dtype: float64

**Lambda function**

function: use only once, to simplify the function block into linear

In [3]:
#basic functions
def sum_values(a,b):
    x = a+b
    return x

In [4]:
sum_values(2,3)

5

In [8]:
#lambda function (one linear)
#a,b=input;  a+b = output
#
sum_values_lambda = lambda a,b:a+b
sum_values_lambda(2,3)

5

**Apply + lambda function**

In [9]:
df['Height'].apply(lambda x: x/100) #convert cm to m

0      1.74
1      1.89
2      1.85
3      1.95
4      1.49
       ...
495    1.50
496    1.84
497    1.41
498    1.50
499    1.73
Name: Height, Length: 500, dtype: float64

In [ ]:
#alternative
df['Height']/100

In [10]:
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [11]:
#convert all gender to uppercase
df['Gender'].apply(lambda x:x.upper())

0        MALE
1        MALE
2      FEMALE
3      FEMALE
4        MALE
        ...
495    FEMALE
496    FEMALE
497    FEMALE
498      MALE
499      MALE
Name: Gender, Length: 500, dtype: object

In [12]:
#alternative
df['Gender'].str.upper()

0        MALE
1        MALE
2      FEMALE
3      FEMALE
4        MALE
        ...
495    FEMALE
496    FEMALE
497    FEMALE
498      MALE
499      MALE
Name: Gender, Length: 500, dtype: object

In [13]:
df.dtypes

Gender    object
Height     int64
Weight     int64
Index      int64
dtype: object

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/steam-games-dataset/games_may2024_full.csv')
df

,AppID,name,release_date,required_age,price,dlc_count,detailed_description,about_the_game,short_description,reviews,...,average_playtime_forever,average_playtime_2weeks,median_playtime_forever,median_playtime_2weeks,peak_ccu,tags,pct_pos_total,num_reviews_total,pct_pos_recent,num_reviews_recent
0,730,Counter-Strike 2,2012-08-21,0,0.00,1,"For over two decades, Counter-Strike has offer...","For over two decades, Counter-Strike has offer...","For over two decades, Counter-Strike has offer...",NaN,...,29018,753,6078,352,1362469,"{'FPS': 90076, 'Shooter': 64786, 'Multiplayer'...",87,8071426,80,56072
1,578080,PUBG: BATTLEGROUNDS,2017-12-21,0,0.00,0,"LAND, LOOT, SURVIVE! Play PUBG: BATTLEGROUNDS ...","LAND, LOOT, SURVIVE! Play PUBG: BATTLEGROUNDS ...",Play PUBG: BATTLEGROUNDS for free. Land on str...,NaN,...,0,0,0,0,590582,"{'Survival': 14611, 'Shooter': 12477, 'Battle ...",58,2365012,68,19517
2,570,Dota 2,2013-07-09,0,0.00,2,"The most-played game on Steam. Every day, mill...","The most-played game on Steam. Every day, mill...","Every day, millions of players worldwide enter...",A modern multiplayer masterpiece. 9.5/10 D...,...,35557,1327,1163,977,668192,"{'Free to Play': 59559, 'MOBA': 19966, 'Multip...",81,2247365,71,23832
3,271590,Grand Theft Auto V,2015-04-13,17,0.00,1,"When a young street hustler, a retired bank ro...","When a young street hustler, a retired bank ro...",Grand Theft Auto V for PC offers players the o...,NaN,...,12898,590,6910,235,133571,"{'Open World': 31998, 'Action': 23177, 'Multip...",87,1643791,92,16181
4,488822,Tom Clancy's Rainbow Six Siege,2015-12-01,17,19.99,9,Edition Comparison Ultimate Edition The Tom Cl...,One of the best first-person shooters ever ma...,"Tom Clancy's Rainbow Six Siege is an elite, t...",NaN,...,0,0,0,0,0,"{'FPS': 8078, 'Multiplayer': 6138, 'Tactical':...",85,1092266,76,10481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87801,1888920,Chess vs Chat,2022-08-09,0,3.99,0,Chess Vs Chat allows streamers to host chess m...,Chess Vs Chat allows streamers to host chess m...,Allow your chatters to actively participate an...,NaN,...,0,0,0,0,0,"{'Indie': 31, 'Strategy': 21, 'Puzzle': 11, 'M...",-1,-1,-1,-1
87802,2319710,Craggenrock Playtest,2023-05-31,0,0.00,0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,[],-1,-1,-1,-1
87803,2166420,Orbtangle,2022-10-28,0,1.99,0,Orbtangle is a simplistic puzzle game which re...,Orbtangle is a simplistic puzzle game which re...,Orbtangle is a simplistic puzzle game which re...,NaN,...,0,0,0,0,0,"{'Puzzle': 54, 'Colorful': 46, 'Relaxing': 44,...",-1,-1,-1,-1
87804,1456260,Flashlight,2021-10-25,0,2.99,0,Play with Friends Play with or against your fr...,Play with Friends Play with or against your fr...,"Salvage scrap, build defenses, and rank-up to ...",NaN,...,0,0,0,0,0,"{'Top-Down Shooter': 138, 'Rogue-lite': 132, '...",-1,-1,-1,-1
87805,655980,Wonfourn,2018-06-15,0,5.99,0,Wonfourn challenges you to fulfill your destin...,Wonfourn challenges you to fulfill your destin...,Wonfourn challenges you to fulfill your destin...,NaN,...,0,0,0,0,0,"{'Action': 22, 'Indie': 20, 'Violent': 20, 'St...",-1,-1,-1,-1

In [15]:
df.dtypes

AppID                         int64
name                         object
release_date                 object
required_age                  int64
price                       float64
dlc_count                     int64
detailed_description         object
about_the_game               object
short_description            object
reviews                      object
header_image                 object
website                      object
support_url                  object
support_email                object
windows                        bool
mac                            bool
linux                          bool
metacritic_score              int64
metacritic_url               object
achievements                  int64
recommendations               int64
notes                        object
supported_languages          object
full_audio_languages         object
packages                     object
developers                   object
publishers                   object
categories                   object
genres                       object
screenshots                  object
movies                       object
user_score                    int64
score_rank                  float64
positive                      int64
negative                      int64
estimated_owners             object
average_playtime_forever      int64
average_playtime_2weeks       int64
median_playtime_forever       int64
median_playtime_2weeks        int64
peak_ccu                      int64
tags                         object
pct_pos_total                 int64
num_reviews_total             int64
pct_pos_recent                int64
num_reviews_recent            int64
dtype: object

In [30]:
#convert release data type from object to data time
df['release_date'] = df['release_date'].astype('datetime64[ns]')
df.dtypes

AppID                                int64
name                                object
release_date                datetime64[ns]
required_age                         int64
price                              float64
dlc_count                            int64
detailed_description                object
about_the_game                      object
short_description                   object
reviews                             object
header_image                        object
website                             object
support_url                         object
support_email                       object
windows                               bool
mac                                   bool
linux                                 bool
metacritic_score                     int64
metacritic_url                      object
achievements                         int64
recommendations                      int64
notes                               object
supported_languages                 object
full_audio_languages                object
packages                            object
developers                          object
publishers                          object
categories                          object
genres                              object
screenshots                         object
movies                              object
user_score                           int64
score_rank                         float64
positive                             int64
negative                             int64
estimated_owners                    object
average_playtime_forever             int64
average_playtime_2weeks              int64
median_playtime_forever              int64
median_playtime_2weeks               int64
peak_ccu                             int64
tags                                object
pct_pos_total                        int64
num_reviews_total                    int64
pct_pos_recent                       int64
num_reviews_recent                   int64
dtype: object

**Passing in 'datetime64' dtype with no precision is not allowed. Please pass in 'datetime64[ns]' instead**
*NumPy's datetime64 type requires explicit precision specification. When you try to create or work with a datetime64 without specifying the time unit (like [ns], [us], [ms], etc.), you'll get this error.*

If you want to work with dates (without time components) in NumPy or pandas, you have a few options:

import numpy as np

# Create date-only array
dates = np.array(['2023-01-01', '2023-01-02'], dtype='datetime64[D]')

In [31]:
#use lambda function to get the year or "release_date" series
df['release_date'].apply(lambda x:x.year)

0        2012
1        2017
2        2013
3        2015
4        2015
         ...
87801    2022
87802    2023
87803    2022
87804    2021
87805    2018
Name: release_date, Length: 87806, dtype: int64

In [32]:
#alternative with dt attribute
df['release_date'].dt.year

0        2012
1        2017
2        2013
3        2015
4        2015
         ...
87801    2022
87802    2023
87803    2022
87804    2021
87805    2018
Name: release_date, Length: 87806, dtype: int32

In [34]:
#apply lambda funcyion yo dataframe in order to calculate bmi
 #**2 is to apply sqrt
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/d/chinshier/bmi-dataset/500_Person_Gender_Height_Weight_Index.csv')
df.apply(lambda x:x['Weight']/((x['Height']/100)**2), axis=1)

0      31.708284
1      24.355421
2      32.140248
3      27.350427
4      27.476240
         ...
495    68.000000
496    35.739603
497    68.407022
498    42.222222
499    43.770256
Length: 500, dtype: float64

In [38]:
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/steam-games-dataset/games_march2025_full.csv')
df

,appid,name,release_date,required_age,price,dlc_count,detailed_description,about_the_game,short_description,reviews,...,average_playtime_2weeks,median_playtime_forever,median_playtime_2weeks,discount,peak_ccu,tags,pct_pos_total,num_reviews_total,pct_pos_recent,num_reviews_recent
0,730,Counter-Strike 2,2012-08-21,0,0.00,1,"For over two decades, Counter-Strike has offer...","For over two decades, Counter-Strike has offer...","For over two decades, Counter-Strike has offer...",NaN,...,879,5174,350,0,1212356,"{'FPS': 90857, 'Shooter': 65397, 'Multiplayer'...",86,8632939,82,96473
1,578080,PUBG: BATTLEGROUNDS,2017-12-21,0,0.00,0,"LAND, LOOT, SURVIVE! Play PUBG: BATTLEGROUNDS ...","LAND, LOOT, SURVIVE! Play PUBG: BATTLEGROUNDS ...",Play PUBG: BATTLEGROUNDS for free. Land on str...,NaN,...,0,0,0,0,616738,"{'Survival': 14838, 'Shooter': 12727, 'Battle ...",59,2513842,68,16720
2,570,Dota 2,2013-07-09,0,0.00,2,"The most-played game on Steam. Every day, mill...","The most-played game on Steam. Every day, mill...","Every day, millions of players worldwide enter...",A modern multiplayer masterpiece. 9.5/10 D...,...,1536,898,892,0,555977,"{'Free to Play': 59933, 'MOBA': 20158, 'Multip...",81,2452595,80,29366
3,271590,Grand Theft Auto V Legacy,2015-04-13,17,0.00,0,"When a young street hustler, a retired bank ro...","When a young street hustler, a retired bank ro...",Grand Theft Auto V for PC offers players the o...,NaN,...,771,7101,74,0,117698,"{'Open World': 32644, 'Action': 23539, 'Multip...",87,1803832,92,17517
4,488824,Tom Clancy's Rainbow Six Siege,2015-12-01,17,19.99,9,Edition Comparison Ultimate Edition The Tom Cl...,One of the best first-person shooters ever ma...,"Tom Clancy's Rainbow Six Siege is an elite, t...",NaN,...,0,0,0,0,0,"{'FPS': 8082, 'Multiplayer': 6139, 'Tactical':...",84,1168404,76,13017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94943,2115110,Outrun Them,2024-02-29,0,3.99,0,The name of the game is literally the game. Ou...,The name of the game is literally the game. Ou...,It's all in the name.. outrun them.,NaN,...,0,0,0,0,0,"{'2D Platformer': 91, 'Runner': 85, 'Platforme...",-1,-1,-1,-1
94944,1174200,Lands of Pharaoh: Episode 1,2020-01-07,0,10.00,0,Join Our Discord Channel About the Game Briefl...,Briefly: Lands of Pharaoh is a third person vi...,Lands of Pharaoh is a multi-camera-angle based...,NaN,...,0,0,0,0,0,"{'Action': 43, 'Adventure': 41, 'Indie': 41, '...",-1,-1,-1,-1
94945,1160190,Player One,2019-10-10,0,1.99,0,Player One is a new 3D game where you take con...,Player One is a new 3D game where you take con...,"3D Game, Thirdperson Platformer",NaN,...,0,0,0,0,0,"{'Indie': 31, 'Early Access': 21}",-1,-1,-1,-1
94946,3380340,DragonRoad,2025-01-25,0,29.99,0,"This is an open world game on 3D, also a m...","This is an open world game on 3D, also a m...","This is an open world game on 3D, Also a missi...",NaN,...,0,0,0,0,0,"{'RPG': 117, 'Action-Adventure': 111, 'Strateg...",-1,-1,-1,-1
94947,763730,Ragtag Adventurers,2018-03-01,0,9.99,0,Ragtag Adventurers is a Boss Rush game that pi...,Ragtag Adventurers is a Boss Rush game that pi...,Ragtag Adventurers is a boss rush game that pi...,NaN,...,0,0,0,0,0,"{'Action': 22, 'Indie': 21}",-1,-1,-1,-1

In [40]:
#deep=True by default (Modifications to the data or indices of the copy)
df_copy = df.copy()

KeyError: '0'

In [42]:
import pandas as pd
import numpy as np
df = pd.read_csv('/kaggle/input/videogamesales/vgsales.csv')
df.set_index('Name', inplace=True)
df.loc[['Know How 2', 'Spirits & Spells'], ['Publisher']]

                 Publisher
Name
Know How 2        7G//AMES
Spirits & Spells   Wanadoo
Spirits & Spells   Wanadoo

In [49]:
df.loc['Know How 2', 'Publisher']

'Nintendo'

In [50]:
#update value in original dataframe
df.loc['Know How 2', 'Publisher']
df.loc['Know How 2', 'Publisher'] = 'Nintendo'

In [51]:
df

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,Nintendo,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

**Any update will not be update to df_copy**

In [57]:
df_copy

,appid,name,release_date,required_age,price,dlc_count,detailed_description,about_the_game,short_description,reviews,...,average_playtime_2weeks,median_playtime_forever,median_playtime_2weeks,discount,peak_ccu,tags,pct_pos_total,num_reviews_total,pct_pos_recent,num_reviews_recent
0,730,Counter-Strike 2,2012-08-21,0,0.00,1,"For over two decades, Counter-Strike has offer...","For over two decades, Counter-Strike has offer...","For over two decades, Counter-Strike has offer...",NaN,...,879,5174,350,0,1212356,"{'FPS': 90857, 'Shooter': 65397, 'Multiplayer'...",86,8632939,82,96473
1,578080,PUBG: BATTLEGROUNDS,2017-12-21,0,0.00,0,"LAND, LOOT, SURVIVE! Play PUBG: BATTLEGROUNDS ...","LAND, LOOT, SURVIVE! Play PUBG: BATTLEGROUNDS ...",Play PUBG: BATTLEGROUNDS for free. Land on str...,NaN,...,0,0,0,0,616738,"{'Survival': 14838, 'Shooter': 12727, 'Battle ...",59,2513842,68,16720
2,570,Dota 2,2013-07-09,0,0.00,2,"The most-played game on Steam. Every day, mill...","The most-played game on Steam. Every day, mill...","Every day, millions of players worldwide enter...",A modern multiplayer masterpiece. 9.5/10 D...,...,1536,898,892,0,555977,"{'Free to Play': 59933, 'MOBA': 20158, 'Multip...",81,2452595,80,29366
3,271590,Grand Theft Auto V Legacy,2015-04-13,17,0.00,0,"When a young street hustler, a retired bank ro...","When a young street hustler, a retired bank ro...",Grand Theft Auto V for PC offers players the o...,NaN,...,771,7101,74,0,117698,"{'Open World': 32644, 'Action': 23539, 'Multip...",87,1803832,92,17517
4,488824,Tom Clancy's Rainbow Six Siege,2015-12-01,17,19.99,9,Edition Comparison Ultimate Edition The Tom Cl...,One of the best first-person shooters ever ma...,"Tom Clancy's Rainbow Six Siege is an elite, t...",NaN,...,0,0,0,0,0,"{'FPS': 8082, 'Multiplayer': 6139, 'Tactical':...",84,1168404,76,13017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94943,2115110,Outrun Them,2024-02-29,0,3.99,0,The name of the game is literally the game. Ou...,The name of the game is literally the game. Ou...,It's all in the name.. outrun them.,NaN,...,0,0,0,0,0,"{'2D Platformer': 91, 'Runner': 85, 'Platforme...",-1,-1,-1,-1
94944,1174200,Lands of Pharaoh: Episode 1,2020-01-07,0,10.00,0,Join Our Discord Channel About the Game Briefl...,Briefly: Lands of Pharaoh is a third person vi...,Lands of Pharaoh is a multi-camera-angle based...,NaN,...,0,0,0,0,0,"{'Action': 43, 'Adventure': 41, 'Indie': 41, '...",-1,-1,-1,-1
94945,1160190,Player One,2019-10-10,0,1.99,0,Player One is a new 3D game where you take con...,Player One is a new 3D game where you take con...,"3D Game, Thirdperson Platformer",NaN,...,0,0,0,0,0,"{'Indie': 31, 'Early Access': 21}",-1,-1,-1,-1
94946,3380340,DragonRoad,2025-01-25,0,29.99,0,"This is an open world game on 3D, also a m...","This is an open world game on 3D, also a m...","This is an open world game on 3D, Also a missi...",NaN,...,0,0,0,0,0,"{'RPG': 117, 'Action-Adventure': 111, 'Strateg...",-1,-1,-1,-1
94947,763730,Ragtag Adventurers,2018-03-01,0,9.99,0,Ragtag Adventurers is a Boss Rush game that pi...,Ragtag Adventurers is a Boss Rush game that pi...,Ragtag Adventurers is a boss rush game that pi...,NaN,...,0,0,0,0,0,"{'Action': 22, 'Indie': 21}",-1,-1,-1,-1

In [69]:
#to make copy and original to be the same data (dependant) set deep to False (deep=False)
df_shallow_copy = df.copy(deep=False)
df.loc['Know How 2', 'Publisher']
df.loc['Know How 2', 'Publisher'] = 'Ubisoft'
df
df_shallow_copy

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,Ubisoft,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [61]:
df.loc['Know How 2', 'Publisher']

'Nintendo'

In [68]:
df.loc['Know How 2', 'Publisher'] = 'Ubisoft'
df
df_shallow_copy

NameError: name 'df_shallow_copy' is not defined

In [67]:
df
df_shallow_copy

NameError: name 'df_shallow_copy' is not defined

In [75]:
#make a copy
df_new_copy = df
df.loc['Wii Sports', 'Publisher'] = 'Bandai'

In [76]:
df

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Bandai,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,Ubisoft,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

**New assignment**